<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
  <persistence-unit name="devoxx">
    <jta-data-source>devoxx</jta-data-source>
    <non-jta-data-source>devoxxNonJta</non-jta-data-source>
    <class>fr.devoxx.javaeeasy.services.jpa.AttendeeJpa</class>
    <class>fr.devoxx.javaeeasy.services.jpa.SlotJpa</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="openjpa.jdbc.SynchronizeMappings" value="buildSchema(ForeignKeys=true)"/>
      <!--<property name="openjpa.Log" value="DefaultLevel=WARN, Runtime=INFO, Tool=INFO, SQL=TRACE"/>-->
    </properties>
  </persistence-unit>
</persistence>
